body {
  background: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
}
*/

/* /* .title {
  font-family: "Tangerine", cursive;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 1;
  font-size: 90px;
  color: rgb(95, 3, 3);
} */

.after-title {
  font-family: "Jim Nightshade", cursive;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7em;
  line-height: 1;
  font-size: 70px;
  color: rgb(95, 3, 3);
}

.some-text {
  font-family: "Rubik Glitch", cursive;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 1.5;
  font-size: 50px;
  color: rgb(95, 3, 3);
}

/* ------------------------------------------ */
/* з додаткової практики TASK 3 */
/* #box {
  width: 50px;
  height: 50px;
  background-color: tomato;
  margin-bottom: 20px;
} */
/* ------------------------------------------ */
